# Copy this file to .env and edit the values for your environment.

N8N_HOST=n8n-anas-ali.onrender.com
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n-anas-ali.onrender.com
GENERIC_TIMEZONE=Asia/Dhaka
TZ=Asia/Dhaka
N8N_ENCRYPTION_KEY=একটি_লম্বা_র্যান্ডম_স্ট্রিং
